<div style="width: 600px; border: 6px solid #eee; margin: 0 auto; padding: 20px; text-align: center; font-family: sans-serif;">
  <img src="http://emberjs.com/images/about/ember-productivity-sm.png" style="display: block; margin: 0 auto;">
  {{#each item in items}}
    <div>{{item.title}}</div>
    <div>{{item.body}}</div>
    <br />
    <br />
  {{/each}}
</div>
